// =============================================================================
//
// Global
//
// =============================================================================

body {
	color: $color-text;
	font-family: $Lato;
	font-size: 18px;
	font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
	@include media-breakpoint-down(sm) {
		font-size: 16px;
	}
}   

a, .btn, .btn-link { 
	transition: color .3s, background-color .3s, border .3s;
	text-decoration: none !important;
}