// Color list
$color-white: #fff;
$color-black: #000;
$color-green: #32BE2B;
$color-greendark: #112D0C;
$color-text: #252525;

// Path
$image-path: '../../images';
$font-path: '../../fonts';

// Font
$Lato: 'Lato', sans-serif;