// Color list
$color-white: #fff;
$color-black: #000;
$color-text: #323232;
$color-cyan: #0c8194;
$color-red: #e22052;

// Path
$image-path: '../../images';
$font-path: '../../fonts';

// Font
$Muli: 'Muli', sans-serif;
$Lora: 'Lora', sans-serif;