.btn.btn-link-border {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    border-bottom: 2px solid $color-red;
    border-radius: 0;
    color: $color-text;
    margin-right: 45px;
    &:hover, &:focus {
        color: $color-red;
    }
}
.btn.btn-primary {
    font-size: 18px;
    font-weight: 500;
    color: $color-white;
    padding: 16px 33px 15px 30px;
    background-color: $color-red;
    border: 0;
    border-radius: 0;
    &:hover, &:focus {
        background-color: darken($color-red, 10%) !important;
    }
}